@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Regular.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Medium.ttf);
  font-style: medium;
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-SemiBold.ttf);
  font-style: semibold;
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Bold.ttf);
  font-style: bold;
  font-weight: 800;
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Black.ttf);
  font-style: black;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Gilroy";
  --bg-color: #09090b;
  --primary-color: #d50000;
  --btn-color: #f44336;
  --text-color1: #ffffff;
  --text-color2: #71717a;
}

/* Scroll Bar CSS Start */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #27272A;
}

::-webkit-scrollbar-thumb {
  background: var(--btn-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717A;
}

/* Scroll Bar CSS End */

a {
  text-decoration: none !important;
}

p {
  margin-bottom: 0 !important;
}

body {
  background-color: var(--bg-color) !important;
  font-family: "Gilroy" !important;
  overflow-x: hidden !important;
  height: 100vh;
}

/* Form Content Column Start */
.brand-logo p {
  margin-bottom: 0 !important;
  color: var(--text-color2);
  font-size: 18px;
  font-weight: 500;
}

.signIn-text {
  color: var(--text-color1);
  font-size: 18px;
  font-weight: 600;
}

/* Heading Part Start */
.form-heading p {
  color: var(--text-color1);
  text-align: center;
  font-family: Gilroy;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: -0.4px;
  padding: 0 100px;
}

.form-heading {
  position: relative;
  margin-top: 30px;
}

.form-heading span {
  display: inline-block;
  position: relative;
}

.form-heading span::after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  height: 14px;
  background: rgba(244, 67, 54, 0.3);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* Heading Part end */

/* create account container start */
.circles {
  padding: 50px 0;
}

.circles span {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.one {
  background-color: var(--primary-color);
  animation: bounce 0.8s;
}

.two {
  background-color: #e53935;
  margin-left: -30px;
  animation: bounce 1s;
}

.three {
  background-color: #e57373;
  margin-left: -30px;
  animation: bounce 1.2s;
}

.four {
  background-color: #ef9a9a;
  margin-left: -30px;
  animation: bounce 1.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* .account-prompt {
    margin-top: 30px;
} */

.account-prompt p {
  color: var(--text-color2);
  font-size: 16px;
  line-height: 5;
}

.signup-btn {
  justify-content: center;
  border-bottom: 1px solid var(--text-color1);
  padding: 10px 15px;
  color: var(--text-color1);
}

/* create account container end */

/* Form About Us Part Start */
.about-us-part {
  padding: 20px 0px;
}

.main-content {
  background-image: url(../img/signIn/about-us-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 80%;
  margin: auto;
  aspect-ratio: 16/7;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.about-head {
  color: var(--text-color1);
  margin-top: 80px;
  padding-left: 80px;
}

.about-content {
  color: #a1a1aa;
  font-size: 14px;
  margin-top: 80px;
  margin-left: 30px;
  padding-right: 70px;
}

@media screen and (max-width: 1200px) {
  .about-head {
    margin-top: 40px;
    padding-left: 40px;
  }

  .about-content {
    margin-top: 40px;
    margin-left: 30px;
    padding-right: 40px;
  }

  .circles {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 990px) {
  .about-head {
    margin-top: 50px;
    padding-left: 50px;
  }

  .about-content {
    margin-top: 50px;
    margin-left: 30px;
    padding-right: 40px;
  }

  .circles span {
    width: 40px;
    height: 40px;
    margin-left: -20px;
  }
}

@media screen and (max-width: 575px) {
  .about-head {
    margin-top: 20px;
    padding-left: 30px;
  }

  .about-content {
    margin-top: 10px;
    margin-left: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
  }
}

/* Form About Us Part End */

/* Form Content Column Start */

/* orm Column Start */
.form-col-two {
  padding: 20px 0px;
}

.signIn-form-part {
  background-image: url(../img/signIn/form-bg.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 90%;
  margin: auto;
  aspect-ratio: 4/5;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  position: relative;
}

.signIn-form-main p {
  font-size: 18px;
  color: var(--text-color1);
  font-weight: 600;
}

.main-form {
  border: 1px solid #3f3f46;
  border-bottom: none;
  background: #09090b;
  align-items: center;
  padding: 25px 0 0;
  position: absolute;
  top: calc(50% - 65px);
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

.main-form::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 130px;
  border: 20px solid #09090b;
  top: calc(100% - 2px);
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
}

.main-form::after {
  content: "";
  position: absolute;
  width: calc(100% - 20px);
  height: 100px;
  border: 12px solid #09090b;
  top: calc(100% + 13px);
  left: 50%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.form-items {
  padding: 10px 20px;
}

.form-items label {
  color: #a1a1aa;
  font-size: 12px;
  padding-left: 10px;
  padding-bottom: 8px;
}

.form-items input {
  padding: 8px 0;
  align-items: flex-start;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #27272a;
  background: #18181b;
  padding-left: 15px;
  margin-bottom: 20px;
  outline: none;
  color: var(--text-color2);
}

.password-field {
  position: relative;
}

.password-field span {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: calc(50% + 3px);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.form-items input::placeholder {
  font-size: 14px;
}

.remem-pass {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.password-check {
  display: flex;
  align-items: center;
}

.remem-pass label {
  padding-left: 6px;
  color: var(--text-color1);
  white-space: nowrap;
}

.password-check input {
  margin-left: 10px;
  margin-top: 10px;
}

.password-check input[type="radio"]:after {
  width: 14px;
  height: 14px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #3f3f46;
  content: "";
  display: inline-block;
  visibility: visible;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.password-check input[type="radio"]:checked:after {
  width: 14px;
  height: 14px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: var(--btn-color);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--text-color1);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.password-forget a {
  text-decoration: none;
  color: #a1a1aa;
  font-size: 13px;
}

.login-btn {
  display: flex;
  background-color: var(--btn-color);
  color: var(--text-color1);
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 8px 0;
  margin-top: 15px;
}

.login-btn svg {
  width: 20px;
  height: 20px;
  margin-left: 6px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.login-btn:hover svg {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}

@media screen and (max-width: 1400px) {
  .form-heading p {
    font-size: 25px;
    line-height: 45px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 990px) {
  .main-form {
    width: 90%;
  }

  .signIn-form-part {
    padding: 30px 0;
  }

  .form-items input {
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .password-check input {
    margin-top: 10px;
  }

  .password-check label {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 575px) {
  .main-form {
    width: 90%;
  }

  .signIn-form-part {
    aspect-ratio: 4/7;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .form-items input {
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .password-check input {
    margin-top: 10px;
  }

  .password-check label {
    padding-bottom: 0;
  }
}

/* orm Column End */