@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Regular.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Medium.ttf);
    font-style: medium;
    font-weight: 600;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-SemiBold.ttf);
    font-style: semibold;
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Bold.ttf);
    font-style: bold;
    font-weight: 800;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Black.ttf);
    font-style: black;
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

:root {
    --main-font: "Gilroy";
    --bg-color: #09090b;
    --primary-color: #d50000;
    --btn-color: #f44336;
    --text-color1: #ffffff;
    --text-color2: #71717a;
}

/* Dashboard Start */

.content_wrapper {
    padding: 0 20px;
}

/* VPS Plan Content Start */

.nodes_content .nodes_title {
    font-size: 1.5em;
    color: var(--text-color1);
    font-weight: 700;
    font-family: var(--main-font);
    padding-top: 25px;
}

.nodes_card {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 15px;
    margin-top: 25px;
}

.nodes_card:hover {
    background: linear-gradient(180deg, #1a1a1a 0%, rgba(26, 26, 26, 0) 100%);
}

.bar {
    height: 1px;
    background-color: #27272A;
    margin: 5px 0 10px 0;
}

.nodes_card_icon img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 15px;
}

.nodes_card h2 {
    font-size: 24px;
    color: var(--text-color1);
    font-weight: 700;
    font-family: var(--main-font);
    margin-bottom: 10px;
}

.nodes_card p {
    font-size: 14px;
    color: var(--text-color1);
    font-weight: 500;
    font-family: var(--main-font);
    margin-bottom: 10px;
}

.nodes_card_btn {
    margin-top: 20px;
}

.nodes_card_btn a {
    text-decoration: none;
    color: var(--text-color1);
    background-color: var(--btn-color);
    display: block;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    padding: 6px 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.nodes_card_btn a svg {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.nodes_card_btn a:hover svg {
    transform: translateX(6px);
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px);
}

/* VPS Plan Content End */

/* Dashboard End */






/* Transaction Details Start */
.step-progress {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 150px);
    height: 3px;
    background-color: #27272A;
    position: relative;
    margin: 30px auto;
}

.step-progress::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--btn-color);
    width: 50%;
    height: 100%;
    z-index: 1;
}

.progress-bar {
    position: absolute;
}

.progress-bar:nth-child(1) {
    left: -24px;
    top: -24px;
}

.progress-bar span:nth-child(1).active {
    background-color: var(--btn-color);
    border: none;
}

.progress-bar:nth-child(2) {
    left: 50%;
    top: -24px;
    transform: translateX(-50%);
}

.progress-bar:nth-child(3) {
    right: -32px;
    top: -24px;
}

.progress-bar span {
    font-size: 18px;
    color: var(--text-color1);
    font-weight: 600;
    background-color: #18181B;
    padding: 9px 0 10px 0;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 1px solid #52525B;
    margin: auto;
    outline: 12px solid var(--bg-color);
    z-index: 2;
    overflow: hidden;
}

.progress-bar span img {
    width: 24px;
}

.progress-bar p {
    margin: 15px 0;
    font-size: 16px;
    color: var(--text-color1);
    font-weight: 600;
}

.step-03 {
    box-shadow: 0 0 0 12px var(--bg-color);
}

.divider {
    width: 100%;
    background-color: #27272A;
    height: 1px;
    margin-top: 100px;
}

/* Transaction Details End */


/* Transaction Box Content Start */
.t-details-head h1 {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color1);
}

.t-details-head p {
    font-size: 14px;
    font-weight: 500;
    color: #71717A;
}

.product-details h3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color1);
}

.product-details p {
    font-size: 14px;
    font-weight: 400;
    color: #71717A;
}

.product-price h3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color1);
}

#select-os-id label {
    color: #A1A1AA;
    padding-left: 10px;
    padding-bottom: 5px;
}

#os-selection {
    color: #52525B;
    border-radius: 12px;
    border: 1px solid #27272A;
    background-color: #18181B !important;
    padding: 10px 30px 10px 10px;
    width: 100%;
    border: 1px solid #27272A !important;
    box-sizing: border-box;
    background: url('../icons/vps/arrow-down.svg') no-repeat right 10px center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#select-os-id option {
    padding: 0 14px;
}

.divider2 {
    width: 100%;
    background-color: #27272A;
    height: 1px;
    margin: 30px 0;
}

.total-payment-card {
    background-color: #18181B;
    padding: 20px;
    border-radius: 16px;
}

.total-amount h2 {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color1);
}

#total-payment-form label {
    font-size: 12px;
    font-weight: 500;
    color: #A1A1AA;
    padding-left: 10px;
    padding-bottom: 5px;
}

#total-payment-form input {
    color: #52525B;
    border-radius: 12px;
    border: 1px solid #27272A;
    background-color: #18181B !important;
    padding: 10px 30px 10px 10px;
    width: 100%;
    border: 1px solid #27272A !important;
    margin-bottom: 10px;
}

.payment-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-btn {
    border-radius: 12px;
    border: 1px solid #3F3F46;
    background: #27272A;
    color: var(--text-color1);
    padding: 10px 0;
    width: 35%;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.pay-btn {
    border-radius: 12px;
    border: 1px solid #3F3F46;
    background: var(--btn-color);
    color: var(--text-color1);
    padding: 10px 0;
    width: 63%;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 575px) {
    .payment-button {
        width: 100%;
        display: block;
    }

    .cart-btn {
        width: 100%;
        margin-bottom: 20px;
    }

    .pay-btn {
        width: 100%;
    }
}

/* Transaction Box Content End */